layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} #[fg=bright_white,bold]{session}"
                format_center "{tabs}"

                hide_frame_for_single_pane "true"

                mode_normal    "#[bg=red] "
                mode_locked    "#[bg=yellow] "
                mode_pane      "#[bg=bright_green,bold] PANE "
                mode_tab       "#[bg=bright_green,bold] TAB "
                mode_session   "#[bg=bright_green,bold] SESSION "
                mode_tmux      "#[bg=bright_green,bold] TMUX "
                mode_resize    "#[bg=bright_green,bold] RESIZE "
                mode_move      "#[bg=bright_green,bold] MOVE "
                mode_scroll    "#[bg=bright_green] "
                mode_enterpane "#[bg=bright_green] "
                mode_renametab "#[bg=bright_green] "
                mode_search    "#[bg=bright_green] "

                tab_normal " #[fg=white] {name}"
                tab_active " #[fg=bright_white,italic] {name}"
            }
        }
    }
}
